/***** Global *****/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Roboto:wght@900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    position: relative;
}

/***** Navbar *****/
.navbar{
    border:1px solid orange;
    position:fixed;
    width:100%;
    background-color: #fff;
    padding:10px;
    display: flex;
    /* justify-content: ; */
}

/* Left side */
.left-side-container{
    /* border :2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
/* Hamburger */
.hamburger-container{
    /* border:2px solid blue; */
    border-radius: 50%;
    padding:7px;
    display: flex;
}

.hamburger:hover{
    background-color: rgb(125, 125, 125);
}

/* Menu */
.menu-container{
    /* border:1px solid orange; */
    position: absolute;
    width:200px;
    top:0;
    left:-400px;
    bottom:0px;
    background-color:rgb(255, 255, 255);
    z-index: 2;
}

.menu-toggler{
    left:0px;
}

.menu-list{
    border:1px solid rgb(189, 189, 189);
    z-index: 2;
    /* overflow-y: scroll; */
}

.menu-list a{
    /* border:2px solid red; */
    text-decoration: none;
    list-style: none;
    color:black;
    text-transform: capitalize;
    font-family: "Roboto";
}

.menu-list a li{
    /* border:2px solid blue; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin:10px;
    padding:8px;
}

.menu-list a li:hover{
    background-color: rgb(164, 164, 164);
}

.menu-list a li img{
    margin-right:10px;
}

.menu-footer-links-container{
    margin:5px ;
}

.menu-footer-links-container a{
    font-size: 14px;
    padding:3px;
}

.menu-footer-copyright-container{
    font-family: sans-serif;
    font-size:14px;
    margin:10px 5px;
}

/* Brand */
.brand-container{
    /* border:2px solid blue; */
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
    text-decoration: none;
    color:black;
}

.brand-icon{
    /* border:2px solid red; */
    width:50px;
}

.brand-name{
    font-family: 'Roboto';
}

.brand-location{
    position:absolute;
    right:0;
    top:0;
    text-transform: uppercase;
    font-weight: bold;
    font-family:"Roboto";
    font-size:10px;
}

/* Middle side */
.middle-side-container{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}

.search-box-container{
    border:1px solid #c0c0c0;
    display: flex;
    border-radius: 20px;
    position: relative;
    width:500px;
}

.search-input{
    border-radius: 50px;
    border:1px solid #c0c0c0;
    font-size: 18px;
    padding-left:10px;
    border:none;
    outline: none;
    width:100%;
}

.search-icon-container{
    border-left:1px solid #c0c0c0;
    /* border:1px solid red; */
    padding:0px 15px;
    position:absolute;
    right:10px;
    top:0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.voice-container{
    /* border:1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 50px;
    margin-left: 10px;
    cursor:pointer;
}

.voice-container:hover{
    background-color: #ececec;
}